{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
		<!-- Course Details -->
		<div class="card mb-4 shadow-sm">
		    <div class="card-header bg-primary text-white">
		        <h2 class="mb-0 text-center">{{ course.title }}</h2>
		    </div>
		    <div class="card-body">
		        <p class="card-text mb-4">{{ course.description }}</p>
		        <h6 class="mb-2">Allowed Memberships:</h6>
		        <ul>
		            {% for membership in course.allowed_membership.all %}
		                <li><span class="badge bg-secondary">{{ membership.membership_type }}</span></li>
		            {% endfor %}
		        </ul>
		    </div>
		</div>

        <!-- Lessons List -->
        <div class="mt-5">
            <h3>Lessons</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Title</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for lesson in course.lessons %}
                        <tr>
                            <td>{{ lesson.position }}</td>
                            <td>{{ lesson.title }}</td>
                            <td><a href="{{ lesson.get_absolute_url }}" class="btn btn-primary">View Lesson</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

		
</div>


{% endblock content %}


